<div class="modal fade" data-bind="showModal: showFolderCreateModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-bind="click: closeNewFolderModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Folder</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="folderName">Folder Name</label>
                    <input type="text" id="folderName" placeholder="Folder Name" class="form-control" data-bind="value: newFolderName"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: closeNewFolderModal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: saveNewFolder">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->