<div class="panel panel-default" data-bind="visible: showPageOptions()">
    <div class="panel-heading">
        <h4>Page Options - <span data-bind="text: pageOptions().id"></span> - <span data-bind="text: pageOptions().title"></span></h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                Last Modified: <strong data-bind="text: pageOptions().modified"></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" data-bind="value: pageOptions().title" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="metaKeys">Meta Keys</label>
                            <input type="text" class="form-control" name="metaKeys" data-bind="value: pageOptions().metaKeys" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="metaDesc">Meta Description</label>
                            <input type="text" class="form-control" name="metaDesc" data-bind="value: pageOptions().metaDesc" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pageRoute">Page Route</label>
                            <input type="text" class="form-control" name="pageRoute" data-bind="value: pageOptions().route" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zipCode">Zipcode</label>
                            <input type="text" class="form-control" name="zipCode" data-bind="value: pageOptions().zipcode" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="comments">Comments</label>
                            <textarea class="form-control" name="comments" data-bind="value: pageOptions().comments"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="headerHtml">Header Html</label>
                            <textarea class="form-control" name="headerHtml" data-bind="value: pageOptions().headerHtml"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="footerHtml">Footer Html</label>
                            <textarea class="form-control" name="footerHtml" data-bind="value: pageOptions().footerHtml"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-primary" type="button" data-bind="click: updatePageOptions">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

