body {
  padding-top: 50px;
  padding-bottom: 20px;
}


/* Page Selector */

  .main-panel {
      margin-top: 30px;
  }

  .folder-list {
      margin: 0;
      padding: 0;
  }

  .folder-list li {
      list-style-type: none;
      margin-bottom: 7px;
      border: 1px solid #eee;
      padding: 5px;
  }


  .folder-list li a {
      font-weight: bold;
      font-size: 13px;
      /*display: block;
      padding: 5px 10px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;*/
  }

  .folder-list li a:hover,
  .folder-list li a.selected {
      /*background-color: dodgerblue;*/
      /*color: white;*/
      /*padding: 5px 10px;*/
      text-decoration: none;
  }

  .folder-list li a span.folder-icon {
      margin-right: 10px;
  }

/* End Page Selector*/

.scroll-overflow {
  overflow-x: scroll;
  max-height: 600px;
}

.glyphicon-spin {
-webkit-animation: spin 1000ms infinite linear;
animation: spin 1000ms infinite linear;
}

.checked-result h4 {
  margin-bottom: 0px;
}

@-webkit-keyframes spin {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(359deg);
  transform: rotate(359deg);
}
}
@keyframes spin {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(359deg);
  transform: rotate(359deg);
}
}
